%h3.page-title Your Sneks
- if @sneks.empty?
  %p You have no sneks!
- else
  .row
    - @sneks.each do |snek|
      .col-5.mb-3
        = link_to snek do
          .card.text-center.card-button
            .card-block
              .card-title= snek.name
.row
  .col-5.mb-3
    .card.text-center.card-button#new-snek{ "data-toggle" => "modal", "data-target" => "#snekForm" }
      .card-block
        .card-title +1 Snek!

= render partial: 'form'
